.line-group {
  height: 43px;
  width: min-content;
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 125px;

  &__cell {
    width: 141px;
    height: 41px;
    display: flex;
    border-right: 1px solid #ffffff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    transition: .3s ease-out;

    &-icon {
      margin-right: 5px;
    }

    &-link {
      width: inherit;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--no-separate {
      border-right: none;
      border-radius: 125px;
    }
  }

  &__cell:last-child {
    border-right: none;
  }

  &__cell:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

.first--cell {
  border-bottom-left-radius: 125px;
  border-top-left-radius: 125px;
}

.first--cell:hover .line-group__cell-icon {
  color: #000000;
  transition: .3s ease-out;
}

.last--cell {
  border-bottom-right-radius: 125px;
  border-top-right-radius: 125px;
}