.header {
  width: 100%;
  padding: 53px 0;

  &-content__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    cursor: pointer;
    margin-right: 27px;
  }

  &__icon:last-child {
    margin-right: 0;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      padding-right: 130px;
    }

    &-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-link {
      cursor: pointer;
      padding-right: 44px;
      transition: color .2s ease-out;
    }

    &-link:last-child {
      padding-right: 0;
    }
  }
}