.footer {
  padding: 53px 0;
  background-color: #12121C;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content-progress {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }

  &__progress-bar {

  }
}